@import java.util.Date
@(pastiesURLs:Iterable[(String, Date)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@main("Pastiesmonitor") {
    <h3>Pasties found</h3>
    <table>
        @for((url, creation) <- pastiesURLs) {
            <tr>
                <td><a href="@url" target="_blank">@url, @creation</a></td>
            </tr>
        }
    </table>
}