@(matcherForm:Form[(String, Int, Option[String], Option[Int])])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Pastiesmonitor") {
    <h1>Pasties monitoring tool</h1>
    @helper.form(action = helper.CSRF(routes.MatcherController.create())) {
        @inputText(matcherForm("matching_regex"))
        <p>Email regex example: [a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?</p>
        @inputText(matcherForm("matching_regex_count"))
        @inputText(matcherForm("excluding_regex"))
        @inputText(matcherForm("excluding_regex_count"))
        <button type="submit">Create matcher</button>
    }
}
